/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.container {
    @apply mx-auto px-6
}

.text-primary {
    @apply text-blue-700
}

/* .mdc-notched-outlined__notch {
    border-right-style: none !important
} */